<div class="purchased-container">
    <h1>You have purchased: <%= @listing.title %></h1>
</div>

<div class="row image-flex">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%# Shows image of purchased item %>
       <img class="img-responsive"> <%= @listing.images.attached? ? ( image_tag @listing.images.first ) : ( image_tag 'default.png') %></img>
      <div class="caption return-to-listings">
        <p><%= @listing.description %></p>
        <p> 
            <%= link_to 'Return to Listings!', listings_path, class:"btn btn-primary btn-lg" %>
        </p>
      </div>
    </div>
  </div>
</div>