<footer class="footer">
    <small>
        The best marketplace on the web!
    </small>
    <nav>
        <ul>
            <li><%= link_to "Home",  root_path %> </li>
            <li><%= link_to "About", about_path %> </li>
            <li><%= link_to "Buy",   buy_path %> </li>
            <li><%= link_to "Sell",  sell_path %> </li>
        </ul>
    </nav>
</footer>