<% provide(:title, "Home") %>

<div class="home-container">
    <h1> Welcome to the Chewy-Tree! </h1>

    <div class="jumbotron">
        <h1>Hello, Friend!</h1>
        <div class="home-text">
            <p>The site where you can sell or buy anything you want!</p>
            <p>Sign up to start selling and to message users!</p>
            <p>Feel free to browse or buy without the need to sign up!</p>
            <div class="home-button-container">
                <p class="home-buttons"><%= link_to "Browse Now!", listings_path, class:"btn btn-primary btn-lg" %></p>
                <p class="home-buttons"> <%= link_to "Sign In", new_user_session_path, class:"btn btn-primary btn-lg"%></p>
            </div>
        </div>
    </div>
</div>