<% provide(:title, "Home") %>

<div class="home-container">
    <h1> Welcome to the Mushy-Tree! </h1>

    <div class="jumbotron">
        <h1>Hello, Friend!</h1>
        <div class="home-text">
            <p>Welcome to the site where you can buy or sell all the mushrooms you want!</p>
            <p>Sign up to start selling and to message other users!</p>
            <p>Feel free to browse the large range of gourmet mushrooms!</p>
            <p>But you need to sign up before you buy!</p>
            <div class="home-button-container">
                <p class="home-buttons"><%= link_to "Browse Now!", listings_path, class:"btn btn-primary btn-lg" %></p>
                <p class="home-buttons"> <%= link_to "Sign In", new_user_session_path, class:"btn btn-primary btn-lg"%></p>
            </div>
        </div>
    </div>
</div>